In [1]:
import pandas as pd

## Creating Dataset:

In [26]:
myData={
    'dates':['02-01-12','03-01-12','04-01-12','05-01-12','06-01-12'],
    'day':['sunny','rainy','hot','sunny','hot'],
    'wind-speed':[12,34,45,56,67],
    'temp':[45,46,47,48,49]
}
df=pd.DataFrame(myData)
df

      dates    day  wind-speed  temp
0  02-01-12  sunny          12    45
1  03-01-12  rainy          34    46
2  04-01-12    hot          45    47
3  05-01-12  sunny          56    48
4  06-01-12    hot          67    49

In [27]:
df.shape      #Shape

(5, 4)

In [28]:
df.describe()     #Stats of dataframe

       wind-speed       temp
count    5.000000   5.000000
mean    42.800000  47.000000
std     21.158922   1.581139
min     12.000000  45.000000
25%     34.000000  46.000000
50%     45.000000  47.000000
75%     56.000000  48.000000
max     67.000000  49.000000

In [29]:
df[df['wind-speed']>55]

      dates    day  wind-speed  temp
3  05-01-12  sunny          56    48
4  06-01-12    hot          67    49

### Changing Index:

In [30]:
df

      dates    day  wind-speed  temp
0  02-01-12  sunny          12    45
1  03-01-12  rainy          34    46
2  04-01-12    hot          45    47
3  05-01-12  sunny          56    48
4  06-01-12    hot          67    49

In [31]:
df.set_index('dates',inplace=True)

In [38]:
df

            day  wind-speed  temp
dates
02-01-12  sunny          12    45
03-01-12  rainy          34    46
04-01-12    hot          45    47
05-01-12  sunny          56    48
06-01-12    hot          67    49

In [42]:
df.loc['04-01-12']

day           hot
wind-speed     45
temp           47
Name: 04-01-12, dtype: object

In [44]:
df.iloc[3]

day           sunny
wind-speed       56
temp             48
Name: 05-01-12, dtype: object

In [45]:
df.iloc[1:3]

            day  wind-speed  temp
dates
03-01-12  rainy          34    46
04-01-12    hot          45    47

In [46]:
df.reset_index()

      dates    day  wind-speed  temp
0  02-01-12  sunny          12    45
1  03-01-12  rainy          34    46
2  04-01-12    hot          45    47
3  05-01-12  sunny          56    48
4  06-01-12    hot          67    49