In [3]:
import pandas as pd

### Reading dataset

In [51]:
d=pd.read_csv('datasets/weather.csv')         #for dataset in csv format

#d=pd.read_excel('datasets/weather.xls')      #for dataset in excel format

#d=pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv")  #for reading from a URL

### Accessing and slicing the dataframe

In [35]:
#d

#d.head(3)

#d.tail(3)

#print(d.head(5))

d[2:5]

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.


### Accesing the particular column of dataframe:

In [36]:
d[:3]['Humidity']

0    0.89
1    0.86
2    0.89
Name: Humidity, dtype: float64

### Finding min, max and average of a column:

In [42]:
print(d['Humidity'].min(),d['Humidity'].max(),d['Humidity'].mean())

0.0 1.0 0.7348989663358906

### Finding the number of rows:

In [43]:
print(len(d))

96453

### Conditional Statement

In [46]:
d['Humidity'][d['Humidity']==1.0].head(4)

319    1.0
342    1.0
390    1.0
535    1.0
Name: Humidity, dtype: float64

### Replacing NaN with specific values

In [47]:
d.fillna(0,inplace=True)